<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="org.final_proj.mapper.MemberMapper">
	
	<resultMap type="org.final_proj.domain.MemberVO" id="memberMap">
	<id property="userId" column="userId"/>
	<result property="userPwd" column="userPwd"/>
	<result property="rePwd" column="rePwd"/>
	<result property="userName" column="userName"/>
	<result property="mailAddress" column="mailAddress"/>
	<result property="address" column="address"/>
	<result property="regDate" column="regDate"/>
	<result property="enabled" column="enabled"/>
	<collection property="authList" resultMap="authMap"/>
	</resultMap>
	
	<resultMap type="org.final_proj.domain.AuthVO" id="authMap">
		<result property="userId" column="userId"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	<select id="read" resultMap="memberMap">
	select mem.userId, userPwd, rePwd, userName, mailAddress, address, regDate, enabled, authority
	from final_member mem LEFT OUTER JOIN final_auth auth on mem.userId = auth.userId
	where mem.userId = #{userId}
	</select>


	<insert id="insert">
	insert into final_member(userId, userPwd, rePwd, userName, mailAddress, address)
	values(#{userId}, #{userPwd}, #{rePwd}, #{userName}, #{mailAddress}, #{address})
	</insert>
	
	</mapper>