<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.final_proj.mapper.GoodsMapper">
  
  
  	<!--상품목록  -->
  	<select id="getList" resultType="org.final_proj.domain.GoodsVO">
  	<![CDATA[
  	
  		select 	* from Goods
  		         
  	]]>
  	</select>
  	
  	
  	<!--상세페이지 조회  -->
  	  	<select id="getDetail" resultType="org.final_proj.domain.GoodsVO">
  	<![CDATA[
  	
  		select 	* from Goods where goodsId = #{goodsId}
  	]]>
  	</select>
  	
  	

  	
  	
  	
  </mapper>
  