<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.final_proj.mapper.MemberMapper">

	<resultMap type="org.final_proj.domain.MemberVO"
		id="memberMap">
		<id property="userid" column="userid" />
		<result property="userid" column="USERID" />
		<result property="userpw" column="USERPW" />
		<result property="userName" column="USERNAME" />
		<result property="regDate" column="REGDATE" />
		<result property="updateDate" column="UPDATEDATE" />
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>

	<resultMap type="org.final_proj.domain.AuthVO" id="authMap">
		<result property="userid" column="USERID" />
		<result property="auth" column="AUTH" />
	</resultMap>

	<select id="read" resultMap="memberMap">

		SELECT
		MEM.USERID ,USERPW, USERNAME ,ENABLED ,REGDATE, UPDATEDATE ,AUTH
		FROM
		TBL_MEMBER MEM LEFT OUTER JOIN TBL_MEMBER_AUTH AUTH ON MEM.USERID =
		AUTH.USERID
		WHERE MEM.USERID= #{USERID}

	</select>

	<insert id="insert">
		insert into final_member(userId, userPwd, rePwd, userName, mailAddress,
		address)
		values(#{userId}, #{userPwd}, #{rePwd}, #{userName}, #{mailAddress}, #{address})

	</insert>

	<insert id="authinsert">
		insert into final_auth(userId, authority) values(#{userId}, #{authority})
	</insert>

</mapper>